<header class="header-desktop">
  <a [routerLink]="['/home']">
    <div class="wraper-logo">
      <span></span>
      <p></p>
    </div>
  </a>
  <nav>
    <ul>
      <li>
        <a [routerLink]="['/home']" routerLinkActive="route-active" aria-current="page">Home</a>
      </li>
      <li>
        <a [routerLink]="['/about']" routerLinkActive="route-active" aria-current="page">About Us</a>
      </li>
      <li>
        <a [routerLink]="['/work']" routerLinkActive="route-active" aria-current="page">What We Do</a>
      </li>
      <li>
        <a [routerLink]="['/contact']" routerLinkActive="route-active" aria-current="page">Contact Us</a>
      </li>
    </ul>
  </nav>
</header>
<header class="header-mobile">
  <a [routerLink]="['/home']">
    <div class="wraper-logo">
      <span></span>
      <p></p>
    </div>
  </a>
  <nav class="nav-wraper">
    <div class="burger-menu" (click)="showModal()"></div>
  </nav>
  <ng-container *ngIf="openMenu">
    <div class="show-burger-menu">
      <div class="menu-head">
        <div class="menu-mobile-logo"></div>
        <div class="close-menu" (click)="showModal()">
          <div></div>
          <p></p>
        </div>
      </div>
      <nav class="mobile-nav">
        <ul>
          <li>
            <a [routerLink]="['/home']" routerLinkActive="route-active" aria-current="page"
              (click)="showModal()">Home</a>
          </li>
          <li>
            <a [routerLink]="['/work']" routerLinkActive="route-active" aria-current="page" (click)="showModal()">What
              we do</a>
          </li>
          <li>
            <a [routerLink]="['/about']" routerLinkActive="route-active" aria-current="page" (click)="showModal()">About
              us</a>
          </li>
          <li>
            <a (click)="showModal()">Our history</a>
          </li>
          <li>
            <a [routerLink]="['/contact']" routerLinkActive="route-active" aria-current="page"
              (click)="showModal()">Contact us</a>
          </li>
        </ul>
      </nav>
      <div class="footer-menu">
        <div class="footer-wraper">
          <h4>Services</h4>
          <p>Training and Implementation</p>
          <p>Cyber Consultants</p>
          <p>Consultancy and brand protection</p>
          <p>Software</p>
        </div>
      </div>
    </div>
  </ng-container>
</header>