@import '../../shared/styles/variables';

.header-desktop {
  width: 100%;
  height: 141px;
  background-color: $main-back;
  font-family: $main-font;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: $main-text;
  position: relative;
}

.header-mobile {
  display: none;
}

.wraper-logo {
  display: flex;

  span {
    width: 192.54px;
    height: 39.46px;
    background-image: url('../../../assets/Images/logo-white\ 4.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
}

nav {
  margin-left: 6.5%;
  justify-content: space-between;

  ul {
    display: flex;
    justify-content: space-between;
    width: 111%;
  }

  li {
    a {
      width: 118px;
      height: 50px;
      font-size: 18px;
      padding: 17px;
      border-radius: 12px;
      text-align: center;
      border-radius: 12px;
      transition: 0.3s;
    }

    a:hover {
      transition: 0.3s;
      text-shadow: 0px 2px 4px rgb(77, 77, 77);
    }
  }
}

.route-active {
  background-color: white;
}

@media screen and (max-width:1474px) {

  ul li a {
    width: 100%;
    height: 50px;
    padding: 14px;
  }
}

@media screen and (max-width:1027px) {
  nav {
    margin-left: 0%;

    ul {
      width: 100%;
    }
  }

}


@media screen and (max-width:640px) {
  .header-desktop {
    display: none;
  }

  .header-mobile {
    display: flex;
    width: 100%;
    height: 115px;
    background-color: $main-back;
    font-family: $main-font;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $main-text;
    position: relative;

    a {
      margin-left: 25px;
    }
  }

  .nav-wraper {
    margin-right: 10px;
  }

  .wraper-logo {
    span {
      width: 162px;
      height: 32.89px;
      background-image: url('../../../assets/Images/logo-white 1.png');
    }
  }

  .burger-menu {
    background-image: url('../../../assets/Images/Group 106.png');
    width: 30px;
    height: 19px;
    cursor: pointer;
  }

  .show-burger-menu {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 812px;
    background-color: $main-back;
    box-shadow: 0px 2px 7px 0px $main-text;
  }

  .menu-head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }

  .menu-mobile-logo {
    width: 162px;
    height: 35px;
    background-image: url('../../../assets/Images/logo menu mobile.png');
    margin-left: 24px;
  }

  .close-menu {
    margin-right: 8px;
    position: relative;
    cursor: pointer;

    div {
      width: 30px;
      height: 30px;
      background-image: url('../../../assets/Images/Rectangle 60.png');
      background-size: contain;
      background-repeat: no-repeat;
    }

    p {
      width: 30px;
      height: 30px;
      background-image: url('../../../assets/Images/Rectangle 61.png');
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 0px
    }
  }

  .mobile-nav {
    margin-top: 54px;

    ul {
      flex-direction: column;

      li {
        margin-bottom: 27px;

        a {
          font-family: 'Ubuntu';
          font-weight: bold;
          font-size: 24px;
          line-height: 24px;
          margin-left: 17px;
        }
      }
    }
  }

  .footer-menu {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 38px;
  }

  .footer-wraper {
    width: 79%;
    font-size: 24px;

    h4 {
      font-size: 18px;
      opacity: 0.5;
    }

    p {
      font-size: 24px;
      font-weight: bold;
      margin-top: 27px;
    }
  }
}