<header>
  <a [routerLink]="['/home']">
    <div class="wraper-logo">
      <span></span>
      <p></p>
    </div>
  </a>
  <nav>
    <ul>
      <li>
        <a [routerLink]="['/home']" routerLinkActive="route-active" aria-current="page">Home</a>
      </li>
      <li>
        <a [routerLink]="['/about']" routerLinkActive="route-active" aria-current="page">About Us</a>
      </li>
      <li>
        <a [routerLink]="['/work']" routerLinkActive="route-active" aria-current="page">What We Do</a>
      </li>
      <li>
        <a [routerLink]="['/contact']" routerLinkActive="route-active" aria-current="page">Contact Us</a>
      </li>
    </ul>
  </nav>
</header>