<div class="container-top">
  <div class="wraper-title">
    <h1 class="title">never caught off-guard again</h1>
    <div class="wraper-info">
      <div class="info">
        <p class="title-text">We are specialist in protecting your assets and reputation to make sure you operate
          risk-free and focus on your core business.</p>
        <button>Learn More</button>
      </div>
    </div>
  </div>
  <div class="banner">
    <div class="banner-image"></div>
  </div>
</div>
<div class="spacer"></div>
<div class="container-lower">
  <div class="lower-head">
    <h1>contact</h1>
    <h1>us</h1>
    <div class="scroll" (click)="scrlTop()"></div>
  </div>
  <div class="wraper-form">
    <form [formGroup]="contactForm" (ngSubmit)="sendMesg()">
      <label for="fname">Full name</label>
      <input (keyup)="validateName()" [ngClass]="{'red-border':statusName}" formControlName="fname"
              type="text" id="fname" name="fname" required>
      <div class="error-name" *ngIf="statusName">Full Name is required</div>
      <label for="cname">Company name</label>
      <input (keyup)="validateCompany()" [ngClass]="{'red-border':statusCompany}" formControlName="cname"
             type="text" id="cname" name="cname" required>
      <div class="error-company" *ngIf="statusCompany">Company Name is required</div>
      <label for="pnumber">Phone number</label>
      <input (keyup)="validatePhone()" [ngClass]="{'red-border':statusPhone}" formControlName="pnumber"
             type="number" id="pnumber" name="pnumber" pattern="^[0-9]{13,14}$" required>
      <div class="error-phone" *ngIf="statusPhone">Phone Number is invalid</div>
      <label for="email">E-mail</label>
      <input (keyup)="validateEmail()" [ngClass]="{'red-border':statusEmail}" formControlName="email"
             type="email" id="email" required>
      <div class="error-email" *ngIf="statusEmail">Email is invalid</div>
      <label for="message">write us messages</label>
      <p>With our global footprint and our specialized team members and partners
        we know what it takes to make sure that we can deliver a minimum risk
        environment for our clients.
      </p>
      <textarea formControlName="userMessage" name="message" id="message"></textarea>
      <button  type="submit">Send Message</button>

    </form>
  </div>
</div>
<div class="spacer-63"></div>