@import '../../shared/styles/variables';

.container-top {
  display: flex;
  justify-content: space-between;
  font-family: $main-font;
  background-color: $main-back;
}

.wraper-title {
  width: 50%;
  height: 651px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wraper-info {
  display: flex;
  justify-content: flex-end;
}

.info {
  width: 60%;
  height: 186px;
  display: flex;
  flex-direction: column;
  margin: 34px 0px 0px 0px;
  justify-content: space-between;

  button {
    width: 50%;
    width: 176px;
    height: 65px;
    border-radius: 16px;
    font-size: 18px;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08);
    transition: .5s;
  }

  button:hover {
    background-color: $main-back;
  }

}

.title {
  width: 50%;
  font-family: $title-font;
  text-transform: uppercase;
  font-size: 68px;
  line-height: 88px;
  margin: 13px 0px 0px 118px
}

.title-text {
  line-height: 29px;
  font-size: 18px;
}

.banner {
  display: flex;
  margin: 32px 0px 0px 0px;
  overflow: hidden;
}

.banner-image {
  width: 826px;
  height: 647px;
  background-image: url('../../../assets/Images/space-helmetf 5.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 8px 2px;
}

.spacer {
  height: 143px;
}

.container-lower {
  width: 60.5%;
  margin: auto;
}

.lower-head {
  display: inline-flex;
  font-family: 'Anton';

  h1:nth-child(1) {
    font-size: 50px;
    line-height: 75px;
    text-transform: uppercase;
    color: $main-back;
  }

  h1:nth-child(2) {
    font-size: 50px;
    line-height: 75px;
    text-transform: uppercase;
    margin-left: 14px;
  }
}

.wraper-form {
  margin-top: 30px;
  width: 100%;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
}

form {
  width: 1170px;
  height: 819px;
  padding: 46px 60px 70px 60px;
  display: flex;
  flex-direction: column;

  label {
    font-size: 12px;
    color: #EF2828;
    text-transform: capitalize;
    font-weight: 400;
  }

  input,
  textarea {
    width: 511px;
    height: 36px;
    border-bottom: 2px solid $main-text;
    margin-bottom: 56px;
    resize: none;
  }

  p {
    width: 510px;
    height: 87px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    margin-bottom: 10px;
  }

  button {
    width: 170px;
    height: 61px;
    background: $main-back;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    margin-top: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    transition: .5s;
  }

  button:hover {
    background-color: rgb(255, 255, 255);
  }
}

.spacer-63 {
  height: 63px;
}

@media screen and (max-width:1474px) {

  .container-top {
    justify-content: center;
  }

  .title {
    width: 70%;
  }

  .banner {
    width: 60%;
    margin: 0px;

    img {
      background-image: url('../../../assets/Images/space-helmetf 5.png');
      background-size: contain;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      margin-right: 0px;
    }
  }

  form {
    font-family: $main-font;
    width: 100%;
    height: 819px;
  }

}

@media screen and (max-width:1027px) {
  .container-lower {
    width: 90%;
  }

  .container-top {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
  }


  .wraper-title {
    width: 100%;
    height: 100%;
  }

  .title {
    margin: 0px;
  }

  .wraper-info {
    width: 100%;
    justify-content: center;
  }

  .info {
    width: 70%;
  }

  .banner {
    width: 80%;
    justify-content: center;
    overflow: visible;
  }

  .banner-image {
    width: 100%;
    background-position: 60px 2px;
  }


  form {


    input,
    textarea {
      width: 100%;
      height: 100%;
      border-bottom: 2px solid $main-text;
      margin-bottom: 56px;
      resize: none;
    }

  }




}

@media screen and (max-width:640px) {
  form {
    padding: 46px 20px 70px 20px;

    input,
    textarea {
      width: 100%;
      height: 100%;
      border-bottom: 2px solid $main-text;
      margin-bottom: 56px;
      resize: none;
    }

 

  }


  button {
    width: 50%;
    width: 176px;
    height: 65px;
    border-radius: 16px;
    font-size: 18px;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08);
    transition: .5s;
  }

  button:hover {
    background-color: $main-back;
  }

}