<div class="container-top">
  <div class="wraper-title">
    <h1 class="title">never caught off-guard again</h1>
    <div class="wraper-info">
      <div class="info">
        <p class="title-text">We are specialist in protecting your assets and reputation to make sure you operate
          risk-free and focus on your core business.</p>
        <button>Learn More</button>
      </div>
    </div>
  </div>
  <div class="banner">
    <div class="banner-image"></div>
  </div>
</div>
<div class="spacer"></div>
<div class="container-lower">
  <div class="lower-head">
    <h1>contact</h1>
    <h1>us</h1>
    <div class="scroll" (click)="scrlTop()"></div>
  </div>
  <div class="wraper-form">
    <form [formGroup]="contactForm" (ngSubmit)="sendMesg()">
      <label for="fname">Full name</label>
      <input [ngClass]="{'red-border':status}" formControlName="fname" type="text"
             id="fname" name="fname" required="Full name is required">
      <div class="error-name" *ngIf="status">Full Name is required</div>
      <label for="cname">Company name</label>
      <input [ngClass]="{'red-border':status}" formControlName="cname" type="text"
             id="cname" name="cname" required>
      <div class="error-company" *ngIf="status">Company Name is required</div>
      <label for="pnumber">Phone number</label>
      <input [ngClass]="{'red-border':status}" formControlName="pnumber" type="number"
             id="pnumber" name="pnumber" required>
      <div class="error-phone" *ngIf="status">Phone Number is invalid</div>
      <label for="email">E-mail</label>
      <input [ngClass]="{'red-border':status}" formControlName="email" type="email"
             id="email" required>
      <div class="error-email" *ngIf="status">Email is invalid</div>
      <label for="message">write us messages</label>
      <p>With our global footprint and our specialized team members and partners
        we know what it takes to make sure that we can deliver a minimum risk
        environment for our clients.
      </p>
      <textarea formControlName="userMessage" name="message" id="message"></textarea>
      <button type="submit">Send Message</button>

    </form>
  </div>
</div>
<div class="spacer-63"></div>