@font-face {
  font-family: 'Anton';
  src: url('../../../assets/Fonts/Anton/Anton-Regular.ttf');
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../../../assets/Fonts/Ubuntu/Ubuntu-Regular.ttf');
}



$main-back:#FFBC00;
$main-text:#000000;
$main-font: 'Ubuntu';
$title-font:'Anton';